<h1 name="errorMsg" id="errorMsg" class="pl-5">
    {{#if isSuccessful}}
        Password updated!
    {{/if}}
</h1>
<div class="mx-5" style="margin-top: 30px">
    <table class="table table-hover" style="table-layout: fixed" id="profile">
        <tr data-toggle="collapse" data-target="#collapseFullname">
            <th>Fullname</th>
            <td>{{user.fullname}}</td>
            <td class="small-col"><i class="fas fa-edit"></i></td>
            <td class="blue">Edit</td>
        </tr>
        <tr class="non-hover">
            <td colspan="4">
                <div class="collapse" id="collapseFullname" data-parent="#profile">
                    <div class="row justify-content-md-center">
                        <form class="col-md-4" action="/profile" method="post" name="frmFullname" id="frmFullname">
                            <label for="fullname">Fullname</label>
                            <input type="text" class="form-control" id="fullname" name="fullname" required>
                            <button type="submit" class="btn btn-primary mt-2">Save change</button>
                        </form>
                    </div>
                </div>
            </td>
        </tr>

        <tr data-toggle="collapse" data-target="#collapseUsername">
            <th>Username</th>
            <td>{{user.username}}</td>
            <td class="small-col"><i class="fas fa-edit"></i></td>
            <td class="blue">Edit</td>
        </tr>
        <tr class="non-hover">
            <td colspan="4">
                <div class="collapse" id="collapseUsername" data-parent="#profile">
                    <div class="row justify-content-md-center">
                        <form class="col-md-4" action="/profile" method="post" name="frmUsername" id="frmUsername">
                            <label for="username">Username</label>
                            <input type="text" class="form-control" id="username" name="username" required>
                            <button type="submit" class="btn btn-primary mt-2">Save change</button>
                        </form>
                    </div>
                </div>
            </td>
        </tr>

        <tr data-toggle="collapse" data-target="#collapseEmail">
            <th>Email</th>
            <td>{{user.email}}</td>
            <td class="small-col"><i class="fas fa-edit"></i></td>
            <td class="blue">Edit</td>
        </tr>
        <tr class="non-hover">
            <td colspan="4">
                <div class="collapse" id="collapseEmail" data-parent="#profile">
                    <div class="row justify-content-md-center">
                        <form class="col-md-4" action="/profile" method="post" name="frmEmail" id="frmEmail">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" id="email" name="email" required>
                            <button type="submit" class="btn btn-primary mt-2">Save change</button>
                        </form>
                    </div>
                </div>
            </td>
        </tr>

        <tr data-toggle="collapse" data-target="#collapsePassword">
            <th colspan="2" style="text-align: center;">Password</th>
            <td class="small-col"><i class="fas fa-edit"></i></td>
            <td class="blue">Edit</td>
        </tr>
        <tr class="non-hover">
            <td colspan="4">
                <div class="collapse" id="collapsePassword" data-parent="#profile">
                    <div class="row justify-content-md-center">
                        <form class="col-md-4" action="/profile" method="post" name="frmPassword" id="frmPassword">
                            <label for="o_password">Current password</label>
                            <input type="password" class="form-control" id="o_password" name="o_password" required>
                            <label for="n_password">New password</label>
                            <input type="password" class="form-control" id="n_password" name="n_password" required>
                            <button type="submit" class="btn btn-primary mt-2">Save change</button>
                        </form>
                    </div>
                </div>
            </td>
        </tr>
        {{#ifEquals user.role 1}}
            <tr data-toggle="collapse" data-target="#collapseDesc">
                <th colspan="2" style="text-align: center;">Teacher description</th>
                <td class="small-col"><i class="fas fa-edit"></i></td>
                <td class="blue">Edit</td>
            </tr>
            <tr class="non-hover">
                <td colspan="4">
                    <div class="collapse" id="collapseDesc" data-parent="#profile">
                        <div class="row justify-content-md-center">
                            <form class="col-md-4" action="/profile" method="post" name="frmDesc" id="frmDesc">
                                <b>Your old description:</b>
                                {{{user.desc}}}
                                <label for="desc">Description</label>
                                <textarea id="desc" name="desc" class="form-control h200" id="exampleFormControlTextarea1" rows="10" cols="30"></textarea>
                                <button type="submit" class="btn btn-primary mt-2">Save change</button>
                            </form>
                        </div>
                    </div>
                </td>
            </tr>
        {{/ifEquals}}
    </table>
</div>

{{#section 'script'}}
    <script src="sweetalert2.all.min.js"></script>
    <script src="https://cdn.tiny.cloud/1/o2ds10rhf7w3ectp2eh67hk821s2eq0sgrj2dys1gw00f7oj/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
        tinymce.init({
        selector: '#desc'
    });
    </script>
    <script>
        $('#frmUsername').on('submit', e => {
            e.preventDefault()
            const temp_username = $('#username').val()
            if (temp_username.length < 6) {
                $('#errorMsg').html('Username must have at least 6 characters')
                return
            }
            $.getJSON(`/profile/is-available?username=${temp_username}`, data => {
                if (data === true) {
                    $('#frmUsername').off('submit').submit()
                } else {
                    $('#errorMsg').html('Username is not available')
                    Swal.fire({
                        title: 'Error!',
                        text: 'Username is not available',
                        icon: 'error',
                        confirmButtonText: 'OK'
                    })
                    return
                }
            }) 
        })

        $('#frmEmail').on('submit', e => {
            e.preventDefault()
            const temp_email = $('#email').val()
            $.getJSON(`/profile/is-available?email=${temp_email}`, data => {
                if (data === true) {
                    $('#frmEmail').off('submit').submit()
                } else {
                    $('#errorMsg').html('Email is already in use')
                    Swal.fire({
                        title: 'Error!',
                        text: 'Email is already in use',
                        icon: 'error',
                        confirmButtonText: 'OK'
                    })
                    return
                }
            }) 
        })

        $('#frmPassword').on('submit', e => {
            e.preventDefault()
            const temp_o_password = $('#o_password').val()
            const temp_n_password = $('#n_password').val()
            if (temp_o_password.length < 6 || temp_n_password.length < 6) {
                $('#errorMsg').html('Password must have at least 6 characters')
                return
            }
            if (temp_o_password === temp_n_password) {
                $('#errorMsg').html('Your new password must be different from the old one')
                return
            }
            $.getJSON(`/profile/is-found?password=${temp_o_password}`, data => {
                if (data === true) {
                    $('#frmPassword').off('submit').submit()
                } else {
                    $('#errorMsg').html('Password is incorrect')
                    Swal.fire({
                        title: 'Error!',
                        text: 'Password is incorrect',
                        icon: 'error',
                        confirmButtonText: 'OK'
                    })
                    return
                }
            })
        })
    </script>
{{/section}}

{{#section 'style'}}
    <style>
        .table-hover>tbody>tr.non-hover:hover {
            background-color: transparent;
        }
        .table-hover>tbody>tr>th,
        .table-hover>tbody>tr>td {
            border: none;
        }
        i.fas {
            display: none;
        }
        .table-hover>tbody>tr:hover i.fas {
            display: inline-block;
        }
        td.small-col {
            width: 1px;
        }
        .table-hover>tbody>tr:hover td.blue {
            color: blue;
        }
    </style>
{{/section}}