<header>
    <nav>
    <h1><a href="/">ACA</a></h1>
    <h2>
        <ul type="none">
            {{#if user}}
                <li>Hello {{user.fullname}}</li>
                <li><a href="/profile">Profile</a></li>
                <li><a href="/login/logout">Logout</a></li>
                <li><a href="/verify">Verify</a></li>
            {{else}}
                <li><a href="/register">Register</a></li>
                <li><a href="/login">Login</a></li>
            {{/if}}
        </ul>
    </h2>
</nav>
</header>
