{{#section 'script'}}
    <script src="https://cdn.tiny.cloud/1/o2ds10rhf7w3ectp2eh67hk821s2eq0sgrj2dys1gw00f7oj/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.1.3/js/fileinput.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.1.3/themes/fa/theme.min.js"></script>
    <script>
        tinymce.init({
        selector: '#txtFullDesc'
      });
    </script>
    <script>
        tinymce.init({
        selector: '#txtMinDesc'
      });
    </script>
    <script>
        $('#fuMain').fileinput({
            theme: 'fa',
            dropZoneEnabled: false,
            allowedFileExtensions: ["jpg", "png", "gif"]
        });        
    </script>
{{/section}}

{{#section 'style'}}
    
{{/section}}

<form action="" method="post" enctype="multipart/form-data">
    <div class="card">
        <h5 class="card-header">
            Thêm khóa học mới
        </h5>
        <div class="card-body">
            <div class="col-md-12">                
                <div class="form-group">
                    {{!-- <input id="fuMain" name="fuMain" type="file" class="file"> --}}
                    <label for="formFile" class="form-label">Hình ảnh khóa học</label>
                    <input name="fuMain" class="form-control" type="file" accept="image/*" id="formFile">
                </div>

                <div class="mb-3">
                    <label for="txtNameCourse" class="form-label" >Tên khóa học</label>
                    <input id="txtNameCourse" name="NameCourse" class="form-control" type="text" placeholder="Tên khóa học" >
                </div>
                
                <div class="input-group mb-3">
                    <label class="input-group-text" for="inputCategory">Lĩnh vực</label>
                    <select class="form-select" id="inputCategory" name="CategoryCourse">
                        {{#each categories}}
                            <option value="{{this._id}}">{{this.name}}</option>
                        {{/each}}                 
                    </select>
                </div>


                <div class="mb-3">
                    <label for="txtMinDesc" class="form-label" >Mô tả khóa học</label>
                    <textarea id="txtMinDesc" name="MinDesc" class="form-control" id="exampleFormControlTextarea1" rows="10" cols="30"></textarea>
                </div>

                <div class="mb-3">
                    <label for="txtFullDesc" class="form-label">Chi tiết khóa học</label>
                    <textarea id="txtFullDesc" name="FullDesc" class="form-control h200" id="exampleFormControlTextarea1" rows="10" cols="30"></textarea>
                </div>

                <label for="txtFee" class="form-label">Học phí</label>
                <div class="input-group mb-3">            
                    <span class="input-group-text">VND</span>
                    <input id="txtFee" name="Fee" class="form-control" type="text" aria-label="Amount (to the nearest dollar)" placeholder="Số tiền học phí" aria-label="default input example">
                </div>                
            </div>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary">Thêm khóa học</button>
        </div>
    </div>
</form>

