{{#if messages.error}}
    <h2 class="text-center">{{messages.error}}</h2>
{{/if}}
<form action="/login" method="post" class="form">
    <div class="control text-center">
        <h1>
            Login to do more stuffs
        </h1>
    </div>
    <div class="control block-cube block-input">
        <input type="text" id="username" name="username" required placeholder="Username"><br>/<div class="bg-top">
            <div class="bg-inner"></div>
        </div>
        <div class="bg-right">
            <div class="bg-inner"></div>
        </div>
        <div class="bg">
            <div class="bg-inner"></div>
        </div>
    </div>
    <div class="control block-cube block-input">
        <input type="password" id="password" name="password" required placeholder="Password"><br>/<div class="bg-top">
            <div class="bg-inner"></div>
        </div>
        <div class="bg-right">
            <div class="bg-inner"></div>
        </div>
        <div class="bg">
            <div class="bg-inner"></div>
        </div>
    </div>
    
    <button type="submit" class="btn block-cube block-cube-hover">
        <div class="bg-top">
            <div class="bg-inner"></div>
        </div>
        <div class="bg-right">
            <div class="bg-inner"></div>
        </div>
        <div class="bg">
            <div class="bg-inner"></div>
        </div>
        <div class="text">
            Login
        </div>
    </button>
</form>

{{#section 'style'}}
    <link rel="stylesheet" href="/public/login.css">
{{/section}}