<div class="row justify-content-md-center" style="margin-top: 30px">
    <div class="col-md-4">
        {{#if messages.error}}
            {{messages.error}}
        {{/if}}
        <form action="/login" method="post">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username" name="username" required>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password" required>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>