<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand text-danger" href="/"><h1>Admin mode</h1></a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a class="nav-link" href="/admin/category"><h3>Category</h3></a></li>
    </ul>
</nav>